<!-- <div class="container-fluid">
	<div class="panel">
		<div class="panel-body">
	 -->
	<div class="row container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dashboard-tab-container">
            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 dashboard-tab-menu">
              <div class="list-group">
                <a href="#" class="list-group-item active text-center">
                  <h4 class="icon icon-bowl-17 fs1"></h4><br/>Menu
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="icon icon-cooking-1 fs1"></h4><br/>Meal
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="icon icon-recipes-3 fs1"></h4><br/>Recipe
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="icon icon-cutting-board3 fs1"></h4><br/>Product
                </a>

              </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 dashboard-tab">
                <!-- flight section -->
                <div class="dashboard-tab-content active">
                    <center>
                      <h1 class="glyphicon glyphicon-plane" style="font-size:14em;color:#55518a"></h1>
                      <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                      <h3 style="margin-top: 0;color:#55518a">Flight Reservation</h3>
                    </center>
                </div>
                <!-- train section -->
                <div class="dashboard-tab-content">
                    <center>
                      <h1 class="glyphicon glyphicon-road" style="font-size:12em;color:#55518a"></h1>
                      <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                      <h3 style="margin-top: 0;color:#55518a">Train Reservation</h3>
                    </center>
                </div>

                <!-- hotel search -->
                <div class="dashboard-tab-content">
                    <center>
                      <h1 class="glyphicon glyphicon-home" style="font-size:12em;color:#55518a"></h1>
                      <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                      <h3 style="margin-top: 0;color:#55518a">Hotel Directory</h3>
                    </center>
                </div>
                <div class="dashboard-tab-content">
                    <center>
                      <h1 class="glyphicon glyphicon-cutlery" style="font-size:12em;color:#55518a"></h1>
                      <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                      <h3 style="margin-top: 0;color:#55518a">Restaurant Diirectory</h3>
                    </center>
                </div>

            </div>
        </div>
  </div>







<script>

	$(document).ready(function() {
    $("div.dashboard-tab-menu>div.list-group>a").click(function(e) {
        e.preventDefault();
        $(this).siblings('a.active').removeClass("active");
        $(this).addClass("active");
        var index = $(this).index();
        $("div.dashboard-tab>div.dashboard-tab-content").removeClass("active");
        $("div.dashboard-tab>div.dashboard-tab-content").eq(index).addClass("active");
    });
});

</script>
