<div class="container-fluid">
    <div class="panel">
      <div class="panel-body">

        	<div class="row mtbox">
        		<div class="col-md-2 col-sm-2 col-md-offset-1 box0">		
        		<div class="box1">
	        		<a href="" class="text-center">
	        			<span class="icon icon-bowl-17 fs2"></span>
	        			<p>Add menu</p>
	        		</a>
        			
        		</div>
        		</div>

        		<div class="col-md-2 col-sm-2 box0">		
        		<div class="box1">
	        		<a href="" class="text-center">
	        			<i class="icon icon-cooking-1 fs2"></i>
	        			<p>Add meal</p>
	        		</a>
        			
        		</div>
        		</div>

        		<div class="col-md-2 col-sm-2 box0">		
        		<div class="box1">
	        		<a href="" class="text-center">
	        			<i class="icon icon-recipes-3 fs2"></i>
	        			<p>Add recipe</p>
	        		</a>
        			
        		</div>
        		</div>

        		<div class="col-md-2 col-sm-2 box0">		
        		<div class="box1">
	        		<a href="" class="text-center">
	        			<i class="icon icon-cutting-board3 fs2"></i>
	        			<p>Add product</p>
	        		</a>
        			
        		</div>
        		</div>
        		
        	</div>
      </div>

    </div>

</div>
