<div class="row container-fluid">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dashboard-tab-container">

			<!-- SIDE TAB BUTTONS -->
            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 dashboard-tab-menu">
              <div class="list-group">
                <a href="#" class="list-group-item active text-center">
                  <h4 class="icon icon-eye fs1"></h4><br/>View All
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="icon icon-plus fs1"></h4><br/>Add product
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="icon icon-pencil2 fs1"></h4><br/>Edit product
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="icon icon-bin fs1"></h4><br/>Remove product
                </a>

              </div>
            </div>
            <!-- END OF TAB BUTTON -->

			<!-- MAIN PART -->
            <div class="col-lg-11 col-md-10 col-sm-10 col-xs-9 dashboard-tab">
                <!-- view all section -->
                <div class="dashboard-tab-content active">
                    <center>
                      <h1 class="glyphicon glyphicon-plane" style="font-size:14em;color:#55518a"></h1>
                      <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                      <h3 style="margin-top: 0;color:#55518a">Flight Reservation</h3>
                    </center>
                </div>

                <!-- add product section -->
                <div class="dashboard-tab-content" ng-controller="AppController" nv-file-drop="" uploader="uploader">

				<div class="row">
					<!-- LEFT part -->
                   <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <center>


                    <form>
                    	<h3 class="text-left">Add Product</h3>

						  <div class="form-group text-left">
						    <label class="left">Product name:</label>
						    <input type="text" class="form-control" placeholder="name">
						  </div>


					<div class="form-group text-left">
					   <label>Calorie</label>
						    <input id="calorie" class="form-control" placeholder="calorie">
					</div>

					<br>


					 <div class="price-slider">
			            <div class="col-sm-12">

			             <div id="slider"></div>
			            </div>
			          </div>


			 		<div class="form-group text-left">
					    <label>Price</label>
					    <input id="price" class="form-control" placeholder="price">
				  	</div>
				  	<br>
				  	 <div class="price-slider">
			            <div class="col-sm-12">

			             <div id="slider2"></div>
			            </div>
			          </div>




						</form>


                    </center>
                </div>
                <!-- end of LEFT PART -->

				<!-- RIGTH PART -->

				<!-- IMAGE UPLOAD -->

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                   <h3>Upload photos</h3>


                        <!-- 3. nv-file-over uploader="link" over-class="className" -->
                        <div id="dropzone" class="my-drop-zone well" nv-file-over="" uploader="uploader">
                            Base drop zone
                        </div>


                    <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
                    <input  type="file" nv-file-select="" uploader="uploader" multiple />
                    <br/>






				 <div style="margin-bottom: 40px">

                    <p>Queue length: {{ uploader.queue.length }}</p>

                    <table class="table">
                        <thead>
                            <tr>
                                <th width="25%">Name</th>

                                <th ng-show="uploader.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td>
                                    <strong>{{ item.file.name }}</strong>

                                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>

                                </td>

                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button>

                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div>
                        <div>
                            Queue progress:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success btn-xs" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> Upload all
                        </button>
                        <button type="button" class="btn btn-warning btn-xs" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> Remove all
                        </button>
                    </div>

                </div>



                </div>
                <!-- end of RIGHT part -->




                </div>
                <!-- end of row -->

               	<div class="row">
               		<div class="col-md-6">
               			<button type="submit" class="btn btn-success btn-lg">Add product</button>
               		</div>
               	</div>


               </div>

                <!-- hotel search -->
                <div class="dashboard-tab-content">
                    <center>
                      <h1 class="glyphicon glyphicon-home" style="font-size:12em;color:#55518a"></h1>
                      <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                      <h3 style="margin-top: 0;color:#55518a">Hotel Directory</h3>
                    </center>
                </div>
                <div class="dashboard-tab-content">
                    <center>
                      <h1 class="glyphicon glyphicon-cutlery" style="font-size:12em;color:#55518a"></h1>
                      <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                      <h3 style="margin-top: 0;color:#55518a">Restaurant Diirectory</h3>
                    </center>
                </div>

            </div>

        <!-- END OF MAIN PART -->



        </div>
  </div>

  <script>

    $(document).ready(function() {
      $("div.dashboard-tab-menu>div.list-group>a").click(function(e) {
          e.preventDefault();
          $(this).siblings('a.active').removeClass("active");
          $(this).addClass("active");
          var index = $(this).index();
          $("div.dashboard-tab>div.dashboard-tab-content").removeClass("active");
          $("div.dashboard-tab>div.dashboard-tab-content").eq(index).addClass("active");
      });
  });

  </script>
