<nav class="navbar navbar-default" ng-controller="navCtrl" ng-init="init()">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ng-click="select(this)" href="#/">Admin</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li ng-repeat="nav in navList" ng-class="{navActive: isActive(nav)}">
          <a href="{{nav.href}}" ng-click="select(nav)"><span class="{{nav.class}}"></span> <span ng-bind="nav.name"></span></a>
        </li>
      </ul>
      <ul ng-if="!isAuthenticated()" class="nav navbar-nav navbar-right">
        <li><a href="#/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
      <ul ng-if="isAuthenticated()" class="nav navbar-nav pull-right">
        <li><a href="#/user"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
        <li><a href="#/logout"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
